# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.pem
*.db

# Ruff cache
.ruff_cache/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log